@import "../../../globalStyles/scss/variables.scss";

.home-page {
  &__hero {
    background-color: $blue-overlay;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 12rem 0;

    &-text {
      overflow: hidden;
    }

    @media (max-width: $small-screen) {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-between;
      padding: $spacer;

      &-text {
        margin-top: $spacer * 5;
        width: 100%;
      }

      &-action {
        margin-bottom: $spacer * 3;
        width: 100%;
        margin-top: 42px;
      }
    }

    &__title {
      background-color: $white;
      display: inline-block;
      transform: skew(45deg);
      padding: $spacer $spacer * 3;
      margin-bottom: $spacer / 2;

      @media (max-width: $small-screen) {
        padding: 0.6rem $spacer;
        width: calc(100% - 4rem);
      }

      h1 {
        display: inline-block;
        transform: skew(-45deg);
        font-weight: $bold-font-weight;
        text-transform: uppercase;
        color: $blue;
        font-size: $h1-font-size;
        font-weight: 900;

        @media (max-width: $small-screen) {
          font-size: 2rem;
        }

        @media (min-width: $small-screen) and (max-width: $large-screen) {
          font-size: 48px;
        }
      }
    }
  }

  &__categories {
    padding: 2rem 0 4rem;

    .home-page__categories_container {
      width: 1365px;
      max-width: 100vw;
      margin: 0 auto;
      padding: 0 1rem;

    }

    h2 {
      text-transform: uppercase;
      font-weight: $semibold-font-weight;
      text-align: center;
      margin-bottom: 4rem;
      text-align: center;
      font-size: 2.5rem;
      margin-top: 2rem;

      @media (max-width: $small-screen) {
        font-size: 1.6rem;
      }
    }

    &__list {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 2rem;

      @media only screen and (min-width: $small-screen) and (max-width: $x-large-screen) {
        grid-gap: 2rem;
        grid-template-columns: repeat(auto-fill, minmax(229px, 1fr));
      }

      @media (min-width: 1281px) {
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 2rem;
      }

      .home-page__category-item {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        width: 100%;
        padding: 30px 0;
        transition: .3s all ease-in-out;
        a {
          text-decoration: none;
          color: $base-font-color;
  
          h3 {
            text-transform: uppercase;
            font-weight: $bold-font-weight;
            margin-bottom: 0;
  
            &:after {
              content: url("../../../images/carousel-arrow.svg");
              @if $env == 'CLOTHES4U' {
                content: url("../../../images/carousel-arrow-c4u.svg");
              }
              @if $env == 'FASHION4YOU' {
                content: url("../../../images/carousel-arrow-f4u.svg");
              }
              display: inline-block;
              transform: rotate(180deg);
              margin-left: 1rem;
              height: 30px;
            }
          }
        }
        &:hover {
          background: $turquoise-light;
        }
      }

      &__image {
        width: 100%;
        height: 7rem;
        background-size: contain;
        background-position: center;
        margin-bottom: 1rem;
        background-repeat: no-repeat;

        &--no-photo {
          background-color: $turquoise-light;
          background-repeat: no-repeat;
          background-size: contain;
        }
      }
    }
  }
}
