@import "../../../globalStyles/scss/variables.scss";

.product-page {
  background-color: $white;
  margin-top: 42px;

  .back-btn {
    margin-bottom: 12px;
    background-color: $primary;
    padding: 0.5rem 3rem;
    border: none;
    box-shadow: $button-box-shadow;
    transition: $button-transition;
    outline: none;
    font-family: $base-font-family;
    cursor: pointer;
    border-radius: 300px;
    color: $white;
    transition: 0.3s all ease-in-out;
    font-weight: bold;
    outline: 1px solid $primary;
    letter-spacing: 1px;

    &:hover {
      color: $black;
      background: $white;
      outline: 1px solid $black;
    }
  }

  .breadcrumbs {
    background-color: $white;
    padding: $spacer / 2 $spacer $spacer / 2 $spacer * 1.5;
    margin-top: $spacer * 2;
  }

  &__product {
    display: flex;
    margin-top: $spacer;
    padding-bottom: $spacer * 5;
    gap: 34px;

    @media (max-width: $medium-screen) {
      display: block;
      margin-bottom: $spacer * 2;
    }

    &__description {
      width: 100%;
      min-height: $spacer * 10;
      margin-bottom: $spacer * 9;
    }

    &__info {
      flex-grow: 1;
      width: 50%;
      position: relative;
      justify-content: center;
      margin: 0 auto;

      @media (max-width: $medium-screen) {
        width: 100%;
      }

      > div {
        @media (min-width: $small-screen) {
          padding-right: 1rem;
        }
      }

      &--fixed {
        top: 0;
        position: sticky;
        width: auto;

        @media (min-width: $container-width) {
          width: calc(#{$container-width} * 30 / 100);
        }
      }
    }

    &__gallery {
      flex-grow: 2;
      width: 50%;
      padding: 0 $spacer 0 0;
      box-sizing: border-box;

      @media (max-width: $medium-screen) {
        width: 100%;
        padding: 0;
        margin-bottom: $spacer * 2;
        padding: 0;
      }

      &__nav {
        li {
          display: inline-block;
          padding: $spacer / 2;

          span {
            width: $spacer / 2;
            height: $spacer / 2;
            border: 1px solid $gray;
            border-radius: $spacer / 2;
            display: block;
          }

          &.active {
            span {
              background-color: $turquoise;
              border-color: $turquoise;
            }
          }
        }
      }
    }
  }

  &__other-products {
    background-color: $white;
    padding: $spacer * 4 0;

    &__title {
      font-weight: $bold-font-weight;
      margin-bottom: $spacer * 2;
    }
  }
}
