@import "../../../globalStyles/scss/variables.scss";

.products-featured {
  margin-top: 8rem;
  @media (max-width: $medium-screen) {
    padding: 1rem 0 4rem;
  }

  &-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8rem;
    margin-bottom: 3.2rem !important;

    .circle {
      width: 14px;
      height: 14px;
      background-color: $primary;
      border-radius: 100%;
    }

    &-title {
      max-width: 893px;
      font-size: 38px;
      line-height: 55px;
      font-weight: 700;
      color: #000;
    }
  }

  .products-featured-container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
  }

  a {
    color: $base-font-color;
    display: inline-block;
    max-width: 255px;
    text-decoration: none;
  }
}
