@import "../../../globalStyles/scss/variables.scss";

.products-featured {
  margin-top: 8rem;
  @media (max-width: $medium-screen) {
    padding: 1rem 0 0;
  }

  &-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 4.8rem !important;

    &-title {
      max-width: 784px;
      font-size: 38px;
      line-height: 42px;
      font-weight: 700;
      color: #000;
      text-align: center;
      margin-bottom: 0.8rem;

      @media (max-width: $large-screen) {
        max-width: unset;
        text-align: center;
        font-size: 34px;
      }

      span {
        color: $primary;
        font-size: 38px;
        line-height: 42px;
        font-weight: 700;

        @media (max-width: $large-screen) {
          font-size: 34px;
        }
      }
    }
    &-subtitle {
      max-width: 762px;
      color: #4e595a;
      text-align: center;
    }
  }

  .products-featured-container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
  }

  a {
    color: $base-font-color;
    display: inline-block;
    max-width: 255px;
    text-decoration: none;
  }
}
