@import "../../../globalStyles/scss/variables.scss";

.search-page {
  &__header {
    padding: $spacer * 3 0;

    &__input {
      .input {
        &__label {
          text-transform: uppercase;
          font-size: $h3-font-size;
          font-weight: $extra-bold-font-weight;
          left: -7px !important;
          bottom: 20px;
          background-color: none;
          color: #000 !important;
        }

        &__field {
          border: none;
          box-shadow: none;
          border-bottom: 1px solid $primary;
          font-size: 2rem;
          padding: $spacer / 2 0;
          color: #000;
          font-weight: 600;

          &:focus {
            box-shadow: none;
            color: #000;
          }
        }
      }
    }
  }
}

.NotFoundProductsTitle {
  margin-top: 4.2rem;
  margin-bottom: 4.2rem;
  text-align: center;
}