@import "../../../globalStyles/scss/variables.scss";

.search-page {
  &__header {
    background-color: $primary;
    padding: $spacer * 3 0;

    &__input {
      .input {
        &__label {
          text-transform: uppercase;
          font-size: $h3-font-size;
          font-weight: $extra-bold-font-weight;
        }

        &__field {
          border: none;
          box-shadow: none;
          border-bottom: 1px solid $white;
          font-size: 2rem;
          padding: $spacer / 2 0;
          color: $white;
          font-weight: 600;

          &:focus {
            box-shadow: none;
            color: $white;
          }
        }
      }
    }
  }
}

.NotFoundProductsTitle {
  margin-top: 4.2rem;
  margin-bottom: 4.2rem;
  text-align: center;
}