@import "../../../globalStyles/scss/variables.scss";

@-webkit-keyframes orbit2 {
  from {
    -webkit-transform: rotate(0deg) translateX(36px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(36px) rotate(-360deg);
  }
}

@-moz-keyframes orbit2 {
  from {
    -moz-transform: rotate(0deg) translateX(36px) rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg) translateX(36px) rotate(-360deg);
  }
}

@-o-keyframes orbit2 {
  from {
    -o-transform: rotate(0deg) translateX(36px) rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg) translateX(36px) rotate(-360deg);
  }
}

@keyframes orbit2 {
  from {
    transform: rotate(0deg) translateX(36px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(36px) rotate(-360deg);
  }
}

// .footer {
//   &__favicons {
//     border-top: 1px solid $gray-light;
//     display: flex;
//     justify-content: center;
//   }

//   &__menu {
//     background-color: $gray-light;
//     padding: $spacer * 3 0 $spacer * 2;

//     .container {
//       display: flex;
//       flex-wrap: wrap;

//       div {
//         &:not(:last-of-type) {
//           padding-right: $spacer * 3;
//         }
//       }
//     }

//     &-section {
//       &-header {
//         font-weight: $bold-font-weight;
//         margin-bottom: $spacer;
//       }

//       &-content {
//         p {
//           font-weight: $bold-font-weight;
//           margin-bottom: $spacer;
//           font-size: $small-font-size;
//           color: $gray;

//           a {
//             text-decoration: none;
//             color: $gray;
//           }
//         }
//       }
//     }
//   }

//   &-nav {
//     background-color: $gray-light;
//     padding: $spacer * 5 0 $spacer * 2;

//     .container {
//       display: flex;
//       flex-wrap: wrap;

//       @media (max-width: $medium-screen) {
//         flex-direction: column;
//       }

//       .footer-nav-container-left {
//         width: 60%;
//         display: grid;
//         grid-template-columns: repeat(auto-fill, minmax(143px, 1fr));
//         grid-gap: 2rem;
//         padding-left: 1rem;

//         @media (max-width: $medium-screen) {
//           width: 100%;
//           grid-template-columns: repeat(auto-fill, minmax(121px, 1fr));
//           grid-gap: 1rem;
//           padding-left: 1rem;
//         }
//       }
//       .footer-nav-container-right {
//         width: 40%;
//         display: flex;
//         flex-direction: column;
//         align-items: center;

//         @media (max-width: $medium-screen) {
//           width: 100%;
//           margin-top: 42px;
//         }

//         &-icons {
//           display: flex;
//           flex-direction: row;
//           margin-top: 22px;
//         }

//         a {
//           div {
//             div {
//               svg {
//                 #small-circle {
//                   left: 315px;
//                   position: absolute;
//                   top: 143px;
//                   transform: rotate(45deg) translateX(20px) rotate(-45deg);
//                   -webkit-animation: orbit2 4s linear infinite; /* Chrome, Safari 5 */
//                   -moz-animation: orbit2 4s linear infinite; /* Firefox 5-15 */
//                   -o-animation: orbit2 4s linear infinite; /* Opera 12+ */
//                   animation: orbit2 4s linear infinite; /* Chrome, Firefox 16+,
//                                                      IE 10+, Safari 5 */
//                 }
//               }
//             }
//           }
//         }
//       }
//     }

//     &__section {
//       &-header {
//         font-weight: $bold-font-weight;
//         margin-bottom: $spacer;
//         text-transform: uppercase;
//       }

//       &-content {
//         p {
//           margin-bottom: $spacer;
//           font-size: $small-font-size;
//           color: $base-font-color;

//           a {
//             text-decoration: none;
//             color: $base-font-color;
//             transition: all 0.3s ease-in-out;
//             position: relative;

//             &:before {
//               content: "";
//               background: $primary;
//               display: block;
//               position: absolute;
//               bottom: -5px;
//               left: 0;
//               width: 0;
//               height: 2px;
//               transition: all 0.3s ease-in-out;
//             }
//             &:hover {
//               background-position: 0;
//             }
//             &:hover::before {
//               width: 100%;
//             }
//           }
//         }
//       }
//     }
//   }
// }

.footer-nav {
  background-color: #f6f6f6;
  padding: 5rem 0 2rem;

  @media (max-width: $medium-screen) {
    padding: 2rem 0 2rem;
  }

  &-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: $spacer * 3 0 $spacer * 2;

    @media (max-width: $medium-screen) {
      flex-direction: column;
    }

    &-left {
      width: 37%;

      @media (max-width: $medium-screen) {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding-bottom: 2.4rem;
      }

      a {
        div {
          div {
            svg {
              @media (max-width: $medium-screen) {
                width: 150px;
                height: 100%;
              }
            }
          }
        }
      }
    }

    &-right {
      align-items: baseline;
      justify-content: center;
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
      gap: 2rem 4rem;
      width: 63%;

      @media (max-width: $medium-screen) {
        width: 100%;
        grid-template-columns: repeat(auto-fill, minmax(121px, 1fr));
        grid-gap: 1rem;
        padding-left: 1rem;
        margin-bottom: 3.2rem;
      }

      .footer-nav__section {
        &-header {
          font-size: 24px;
          margin-bottom: 1.6rem;
          color: $primary;
          font-weight: 600;
        }

        &-content {
          p {
            margin-bottom: $spacer;
            font-size: 18px;
            color: $base-font-color;

            a {
              text-decoration: none;
              color: $base-font-color;
              transition: all 0.3s ease-in-out;
              position: relative;

              &:before {
                content: "";
                background: $primary;
                display: block;
                position: absolute;
                bottom: -5px;
                left: 0;
                width: 0;
                height: 2px;
                transition: all 0.3s ease-in-out;
              }
              &:hover {
                background-position: 0;
              }
              &:hover::before {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
  .copyright {
    &-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      @media (max-width: $medium-screen) {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        flex-direction: column;
      }

      &-right {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }
  }
}
