@import "../../../globalStyles/scss/variables.scss";

.carousel {
  .slider-slide {
    @media (min-width: $large-screen) {
      width: auto !important;
    }
  }
  &__control {
    padding: $carousel-control-padding;
    background-color: $primary;
    box-shadow: $carousel-control-shadow;
    border-radius: 7px;

    &:hover {
      cursor: pointer;
    }

    &--right {
      margin-right: -1.3rem;

      @media (max-width: $container-width) {
        margin-right: 0;
      }

      svg {
        margin-top: 0.5rem;
      }
    }

    &--left {
      margin-left: -1.3rem;

      @media (max-width: $container-width) {
        margin-left: 0;
      }

      svg {
        margin-top: 0.4rem;
      }
    }
  }

  .slider-slide {
    text-align: center;
  }
}
