@import "../../../globalStyles/scss/variables.scss";

.carousel {
  &__control {
    padding: $carousel-control-padding;
    background-color: $primary;
    box-shadow: $carousel-control-shadow;
    border-radius: 7px;

    &:hover {
      cursor: pointer;
    }

    &--right {
      margin-right: -2rem;

      @media (max-width: 762px) {
        margin-right: 1rem;
      }

      svg {
        margin-top: 0.5rem;
      }
    }

    &--left {
      margin-left: -2rem;

      @media (max-width: 762px) {
        margin-left: 1rem;
      }

      svg {
        margin-top: 0.4rem;
      }
    }
  }

  .slider-slide {
    text-align: center;
  }
}
