@import "../../../globalStyles/scss/variables.scss";

button.button {
  background-color: $turquoise;
  border: 3px solid $primary;
  transition: $button-transition;
  outline: none;
  font-family: $base-font-family;
  cursor: pointer;
  border-radius: 50px;
  padding: 8px 32px;

  @media (max-width: $small-screen) {
    padding: $button-padding-small-screen;
    width: 88%;
    max-width: 88%;
  }

  > span {
    display: inline-block;
    color: $black;
    font-size: $button-font-size;
    font-weight: $button-font-weight;
    line-height: $button-line-height;

    @if $env == "CLOTHES4U" {
      color: $white;
    }
  }

  &:hover {
    background-color: $turquoise-dark;
  }

  &:active {
    box-shadow: $button-box-shadow-clicked;
  }

  &.secondary {
    background-color: $white;
    box-shadow: inset 0px 0px 0px 3px $blue;
    border-left: 1px solid $blue;
    border-right: 1px solid $blue;

    * {
      color: $blue;
    }

    &:hover {
      background-color: $blue;

      * {
        color: $white;
      }
    }

    &:active {
      background-color: $blue-dark;
    }
  }

  &.third {
    background-color: $white;

    * {
      color: $white;
    }

    &:hover {
      background-color: $blue;

      * {
        color: $white;
      }
    }

    &:active {
      background-color: $blue-dark;
    }
  }

  &.fourth {
    background-color: transparent !important;
    border: 3px solid $primary;

    * {
      color: $white;
    }

    &:hover {
      background-color: $primary !important;

      * {
        color: $white;
      }
    }

    &:active {
      background-color: $primary;
    }
  }

  &.branding {
    background-color: $primary;

    * {
      color: $white;
    }

    &:hover {
      background-color: $primaryDark;
    }
  }

  &:disabled {
    background-color: $gray;

    &,
    &:hover {
      cursor: default;
    }
  }
}
