@import "../../../globalStyles/scss/variables.scss";

.not-found-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  padding: $spacer * 2 $spacer;

  &-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Inter", sans-serif;
    justify-content: space-between;
    margin: 0 auto;
    gap: 450px;

    @media only screen and (max-width: $large-screen) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 96px;
    }

    @media only screen and (min-width: 993px) and (max-width: $xx-large-screen) {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 0;
    }

    &-left {
      text-align: left;
      width: 50%;
      max-width: 782px;
      word-break: break-word;

      @media (max-width: $large-screen) {
        width: 100%;
        max-width: 100%;
      }

      .not-found-page-container-text,
      .not-found-page-container-text-second {
        font-size: 54px;
        color: $turquoise;
        font-weight: bold;
        line-height: 108%;

        @if $env == "CLOTHES4U" {
          color: $red;
        }

        @if $env == "FASHION4YOU" {
          color: $primary;
        }

        @media (max-width: $large-screen) {
          font-size: 44px;
        }
      }
      .not-found-page-container-text-second {
        color: $black;
      }
      .not-found-page-container-paragraph {
        margin: 20px 0 30px 0;
        font-size: 18px;
        color: $gray-light-2;
      }
    }
    &-right {
      width: 50%;
      text-align: center;

      @media (max-width: $large-screen) {
        width: 100%;
        max-width: 100%;
      }

      .not-found-product-img {
        object-fit: cover;
        width: 100%;
        height: 100%;

        @media (max-width: $large-screen) {
          margin-right: -100px;
        }
      }

      .not-found-page-img {
        object-fit: cover;
        width: 100%;
        height: 100%;

        @media (max-width: $large-screen) {
          margin-right: -50px;
        }
      }
    }
  }
}
