@import "../../../../globalStyles/scss/variables.scss";

.login {
  width: 25rem;
  max-width: 100vw;

  &__tabs {
    display: flex;

    span {
      flex-grow: 1;
      width: 100%;
      background-color: $gray-light;
      text-transform: uppercase;
      font-weight: $bold-font-weight;
      text-align: center;
      padding: $spacer;
      border-bottom: 1px solid $gray-light;
      cursor: pointer;

      &:first-of-type {
        border-right: 1px solid $white;
      }

      &:last-of-type {
        border-left: 1px solid $white;
      }

      &.active-tab {
        border-bottom: 1px solid $primary;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .loginTab-text {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &__content {
    padding: 1rem;
    .login__content__password-reminder {
      color: $gray;
      font-size: 0.875rem;
      margin-top: 2rem;
    }
    &__button {
      margin-top: 2rem;
      text-align: center;
    }
  }
}
